@using PhotoContest.Web.Models.ViewModels
@model IndexPageViewModel

@{
    ViewBag.Title = "User Contests";
}

<h1>User's Contests</h1>
@Html.ActionLink("Add", "add", "contest", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
@Html.Partial("_PastAndCurrentContests", Model)