@using PhotoContest.Web.Models.ViewModels
@model IndexPageViewModel

<div class="row">
    <div class="col-md-6">
        <h2 class="panel-heading">Past Contests</h2>
        @Html.Partial("_ContestsTable", Model.EndedContests)
    </div>
    <div class="col-md-6">
        <h2 class="panel-heading">Current Contests</h2>
        @Html.Partial("_ContestsTable", Model.OngoingContests)
    </div>
</div>
