<h4>Delete pic by id:</h4>
@using (Ajax.BeginForm("Delete",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "deleteResponse",
        InsertionMode = InsertionMode.Replace
    }))
{
    @Html.AntiForgeryToken()
    <p id="deleteResponse"></p>
    @Html.TextBox("id", null, new { @class = "form-control" })
    <input type="submit" class="btn btn-primary" value="Delete" />
}