@using PhotoContest.Web.Models.ViewModels
@model ContestMembersViewModel
@{
    ViewBag.Title = "Commitee";
}

<h2>Commitee in @Model.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveCommiteeMember", "Contest", new { id = Model.Id, userId = user.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

